
@*
    CartIndex.cshtml is a summary listing of all the items in the current Cart
*@
@model CartIndexViewModel

@{
    Layout = "_Layout-Cart";
    ViewData["Title"] ="Cart Index";
    ViewData["pageTitle"] = "Cart Index";
}

<body>
    <div> <!-- this elements is the target of general CSS styling, green dotted border -->
<h3>Current Cart Contents</h3>
<table >
    <thead>
        <tr>
            <th style="width:7rem">Item Id</th>
            <th style="width:18rem">Description</th>
            <th style="width:1rem">Qty</th>
            <th style="width:1rem">UoM</th>
            <th style="width:6rem">Date Rqd</th>
            <th style="width:12rem">Comment</th>
        </tr>

    </thead>
    <!---->
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {        
            <tr class="tableItem-gradient">
                <td class="text-center">@line.ItemId</td>
                <td class="text-left">@line.Description</td>
                <td class="text-center">@line.Qty</td>
                <td class="text-center">@line.UoM</td>
                <td class="text-center">@line.DateNeeded.ToShortDateString()</td>
                <td class="text-left">@line.Comment</td>
                <td>
                    <form asp-action="RemoveFromCart" method="post">
                        <input type="hidden" name="ItemId" value="@line.ItemId" />
                        <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                        <button type="submit" class="btn btn-sm btn-danger">
                            Remove
                        </button>
                    </form>
                </td>
            </tr>
      
        }
    </tbody>

    <!---->
    <tfoot>


    </tfoot>
</table>
<div class="text-center">
    <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />

    <!-- <a class="btn btn-primary" href="/Cart/Index">Continue pulls</a> -->
    <a class="btn btn-primary" asp-area="" asp-controller="Cart"  asp-action="Index" >Continue Pulls</a> 
    <a class="btn btn-primary" asp-area="Pull" asp-controller="PullHdr" asp-action="Checkout">Check out</a>
</div>
</div>
</body>